body {
  padding: 50px;
  font-size: 14px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: rgb(209, 225, 240);
  position: relative;
  text-align: center;
  background: url('../images/golf-bags.jpg');
  background-size: cover;
  
}

table {
  float: left;
  background-color: rgb(188, 245, 171);
}

main, tr, th {
  border: 1px solid rgb(10, 87, 10);
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(10, 87, 10);
   
}
  
li {
    float: left;
    
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

li a:hover {
  background-color: #111;
}

.row-header {
  
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: black;
  
}
th {
  font-weight: 1000;
}

td {
  text-align: center;
  font-style: italic;
}

.delete-button {
  background-color: red;
  color: white;
  border-radius: 100%;
  border-color: rgb(10, 87, 10);
}

.edit-trip {
  font-size: 22px;

}

.edit-trip:hover {
  background-color: rgb(10, 87, 10);
}

.edit-trip:visited {
  color: white;
}

.edit-trip:link {
  color: white;
}

.course-header {
  font-size: 18px;
}

form {
  font-weight: bold;
}

.instructions {
  color: black;
  position: relative;
  top: 100px;
}

.instructions p {
  font-weight: bold;
}

