body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(209, 225, 240);
  position: relative;
  text-align: center;
}

table {
  float: left;
}

form {
  
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(10, 87, 10);
   
}
  
li {
    float: left;
    
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

li a:hover {
  background-color: #111;
}

.row-header {
  
  font: 25px "Lucida Grande", Helvetica, Arial, sans-serif;
  
}

td {
  text-align: center;
}

.delete-button {
  background-color: red;
  color: white;
  border-radius: 100%;
  border-color: rgb(10, 87, 10);
}

.edit-trip {
  font-size: 25px;
}

.edit-trip:hover {
  background-color: rgb(10, 87, 10);
}
