<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Trips</title>
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="/trips">Golf Trips</a></li>
            <li><a href="/trips/new">Add New Trip</a></li>
            <li><a href="">Course Details</a></li>
            <li>
                <% if (user) { %>
                <a href="/logout" class="material-icons left">Log Out</a>
                <% } else { %>
                <a href="/auth/google" class="material-icons left">Login with Google</a>
                <% } %>
            </li>
        </ul>
    </nav>
    <br>
    <br>
    <br>
        <table style="width: 100%">
          <tr class="row-header">
              <th class="">On Deck Golf Trips</th>
              <th class="">Date</th>
          </tr>
          
            <% trips.forEach(function(trip) { %>  
            <tr class="row">
              <td class=""><a href="/trips/<%= trip._id %>"><%= trip.location %></a></td>
              <td class=""><%= trip.dates %></td>
              <td>  
                
                <form action="/trips/<%= trip._id %>?_method=DELETE" method="POST">
                    <button class="delete-button" type="submit">X</button>
                </form>
               
              </td>
            </tr>
            <% }) %>
        </table>
      
        <div class="instructions">
          <h2>Welcome to Golfcation!</h2>
          <p>Add a possible golf trip with some ideas, share with your friends and see how easy setting up a golf trip can be!</p>
        </div>
</body>
</html>