<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Trips</title>
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="/trips">Golf Trips</a></li>
            <li><a href="/trips/new">Add New Trip</a></li>
            <li><a href="">Course Details</a></li>
            
            <li>
                <% if (user) { %>
                <a href="/logout" class="material-icons left">Log Out</a>
                <% } else { %>
                <a href="/auth/google" class="material-icons left">Login with Google</a>
                <% } %>
            </li>
              
        </ul>
    </nav>
    <br>
    <br>
    <br>
      
        <table style="width: 100%">
          <tr class="row-header">
              <th class="col-1">On deck Golf Trips</th>
              <th class="col-2">Details</th>
          </tr>
        
            <% trips.forEach(function(trip) { %>  
            <tr class="row">
              <td class="data-1"><%= trip.location %></td>
              <td class="data-2">Details</td>
            </tr>
            <% }) %>
        </table>
      
</body>
</html>