<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>New Trip</title>
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="/trips">Golf Trips</a></li>
            <li><a href="/new">Add New Trip</a></li>
            <li><a href="">Course Details</a></li>
            
            <li>
                <% if (user) { %>
                <a href="/logout" class="material-icons left">Log Out</a>
                <% } else { %>
                <a href="/auth/google" class="material-icons left">Login with Google</a>
                <% } %>
            </li>
              
        </ul>
    </nav>
</body>
</html>