<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <title>Details</title>
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="/trips">Golf Trips</a></li>
            <li><a href="/trips/new">Add New Trip</a></li>
            <li><a href="">Course Details</a></li>
            
            <li>
                <% if (user) { %>
                <a href="/logout" class="material-icons left">Log Out</a>
                <% } else { %>
                <a href="/auth/google" class="material-icons left">Login with Google</a>
                <% } %>
            </li>
              
        </ul>
    </nav>
    <br>
    <br>
    <br>

    <table style="width: 100%">     
        <tr class="row-header">
            <th class="">Courses</th>
        </tr>
        
        <tr>
            <td class=""><%= trip.course %></td>
        </tr>
    </table>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
   
    <table style="width: 100%">
        <tr class="row-header">
            <th class="">Location</th>
            <th class="">Price</th>
            <th class="">Date</th>
        </tr>
        
          
        <tr class="row">
            <td class=""><%= trip.location %></td>
            <td class=""><%= trip.price %></td>
            <td class=""><%= trip.dates %></td>
        </tr>
           
      </table>
</body>
</html>